In [1]:
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../src')

In [2]:
import importlib as imt 
import etl
import utils
import dataset
import clustering_kproto
imt.reload(utils)
imt.reload(etl)
imt.reload(dataset)
imt.reload(clustering_kproto)

In [3]:
from clustering_kproto import plot_costs
from clustering_kproto import Cluster_Regression
from clustering_kproto import test_cluster_prediction
from clustering_kproto import predict_one

In [4]:
import pandas as pd
import numpy as np

### prepare data

In [5]:
data = dataset.Data_2019()
data.load()
data.clean()

/home/jaejun/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
data.df.groupby(by="new_flag_name")["property_code"].count()

new_flag_name
Crowne Plaza Hotels and Resorts     25
Doubletree by Hilton                15
Embassy Suites                      18
Hampton Inn                         42
Hampton Inn and Suites              36
Hilton                              10
Hilton Garden Inn                  152
Holiday                              8
Home2                               23
Homewood Suites                     38
Others                              23
Tru by Hilton                       76
Name: property_code, dtype: int64

In [13]:
# clustering by brand
# data.df['cluster'] = data.df['new_flag_name'].astype('category')
# data.df['cluster'].cat.codes

In [8]:
#data.df.info()

### prepare features

In [7]:
features = ['num_of_rooms', 'new_flag_name', 'region', 'location_type']
X = data.df[features].to_numpy()
y = data.df["revenue"].to_numpy()

### prepare test and train set

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
#shuffle
X, y = shuffle(X, y, random_state = 77)

#split for holdout data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

### scale down numerical feature, num_of_rooms

In [9]:
X_norm = X.copy()

In [10]:
#linear norm
# X_train_norm = X_train.copy()
# X_train_norm[:,0] = X_train_norm[:,0]/np.linalg.norm(X_train_norm[:,0])
# X_test_norm = X_test.copy()
# X_test_norm[:,0] = X_test_norm[:,0]/np.linalg.norm(X_test_norm[:,0])

norm_X = np.linalg.norm(X_norm[:,0])
X_norm[:,0] = X_norm[:,0]/norm_X

In [61]:
#use z score
mu = np.mean(X_norm[:,0])
sigma = np.std(X_norm[:,0])
X_norm[:,0] = (X_norm[:,0] - mu)/sigma
np.mean(X_norm[:,0])

-9.887179296554506e-17

In [26]:
#min/max
x_max =np.max(X_norm[:,0])
x_min =np.min(X_norm[:,0])
X_norm[:,0] = (X_norm[:,0] - x_min) / (x_max - x_min)

In [19]:
#check distribution of numofrooms
import matplotlib.pyplot as plt
np.min(X_norm[:,0])

0.011027941431392805

In [21]:
X_norm[:,0] = X_norm[:,0] * 40

    Parameters
    -----------
    n_clusters : int, optional, default: 8
        The number of clusters to form as well as the number of
        centroids to generate.
    max_iter : int, default: 100
        Maximum number of iterations of the k-modes algorithm for a
        single run.
    num_dissim : func, default: euclidian_dissim
        Dissimilarity function used by the algorithm for numerical variables.
        Defaults to the Euclidian dissimilarity function.
    cat_dissim : func, default: matching_dissim
        Dissimilarity function used by the kmodes algorithm for categorical variables.
        Defaults to the matching dissimilarity function.
    n_init : int, default: 10
        Number of time the k-modes algorithm will be run with different
        centroid seeds. The final results will be the best output of
        n_init consecutive runs in terms of cost.
    init : {'Huang', 'Cao', 'random' or a list of ndarrays}, default: 'Cao'
        Method for initialization:
        'Huang': Method in Huang [1997, 1998]
        'Cao': Method in Cao et al. [2009]
        'random': choose 'n_clusters' observations (rows) at random from
        data for the initial centroids.
        If a list of ndarrays is passed, it should be of length 2, with
        shapes (n_clusters, n_features) for numerical and categorical
        data respectively. These are the initial centroids.
    gamma : float, default: None
        Weighing factor that determines relative importance of numerical vs.
        categorical attributes (see discussion in Huang [1997]). By default,
        automatically calculated from data.
    verbose : integer, optional
        Verbosity mode.
    random_state : int, RandomState instance or None, optional, default: None
        If int, random_state is the seed used by the random number generator;
        If RandomState instance, random_state is the random number generator;
        If None, the random number generator is the RandomState instance used
        by `np.random`.
    n_jobs : int, default: 1
        The number of jobs to use for the computation. This works by computing
        each of the n_init runs in parallel.
        If -1 all CPUs are used. If 1 is given, no parallel computing code is
        used at all, which is useful for debugging. For n_jobs below -1,
        (n_cpus + 1 + n_jobs) are used. Thus for n_jobs = -2, all CPUs but one
        are used.
        
        matching_dissim
        jaccard_dissim_binary
        jaccard_dissim_label
        euclidean_dissim
        ng_dissim

### clustering

In [22]:
from kmodes.kprototypes import KPrototypes
from kmodes.util.dissim import jaccard_dissim_label
from kmodes.util.dissim import matching_dissim
from kmodes.util.dissim import euclidean_dissim

kproto = KPrototypes(n_clusters = 13, init = 'Cao', max_iter = 100,
                     num_dissim=euclidean_dissim, cat_dissim=matching_dissim, 
                     n_init =10, gamma=None, verbose = 1, random_state=77, n_jobs=1) 
clusters = kproto.fit_predict(X_norm, categorical=[1,2,3])

Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 166, ncost: 342.1306479225952
Run: 1, iteration: 2/100, moves: 72, ncost: 330.42299547391366
Run: 1, iteration: 3/100, moves: 19, ncost: 329.33221755664516
Run: 1, iteration: 4/100, moves: 35, ncost: 327.79092166534497
Run: 1, iteration: 5/100, moves: 23, ncost: 324.862051951897
Run: 1, iteration: 6/100, moves: 19, ncost: 320.0842270025509
Run: 1, iteration: 7/100, moves: 12, ncost: 317.15402823032963
Run: 1, iteration: 8/100, moves: 16, ncost: 306.05586634183123
Run: 1, iteration: 9/100, moves: 12, ncost: 297.6660714668771
Run: 1, iteration: 10/100, moves: 5, ncost: 297.6083304454405
Run: 1, iteration: 11/100, moves: 0, ncost: 297.6083304454405
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 195, ncost: 317.08148294996977
Run: 2, iteration: 2/100, moves: 85, ncost: 300.93899184904893
Run: 2, iteration: 3/100, moves: 16, ncost: 294.09655962309245
Run: 2, iteration: 4/100, moves: 6, ncost: 292.36009916188704
Run: 2, iteration: 5/100, moves: 2, ncost: 291.9826490231717
Run: 2, iteration: 6/100, moves: 3, ncost: 289.3578351244398
Run: 2, iteration: 7/100, moves: 0, ncost: 289.3578351244398
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 174, ncost: 332.9282509675884
Run: 3, iteration: 2/100, moves: 45, ncost: 317.6721589914596
Run: 3, iteration: 3/100, moves: 12, ncost: 303.7788207759335
Run: 3, iteration: 4/100, moves: 8, ncost: 296.54942905735635
Run: 3, iteration: 5/100, moves: 4, ncost: 296.49357689502034
Run: 3, iteration: 6/100, moves: 0, ncost: 296.49357689502034
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 146, ncost: 342.89730520022766
Run: 4, iteration: 2/100, moves: 60, ncost: 333.29344997940956
Run: 4, iteration: 3/100, moves: 25, ncost: 326.4758239626713
Run: 4, iteration: 4/100, moves: 9, ncost: 326.0556256745191
Run: 4, iteration: 5/100, moves: 2, ncost: 326.05335764610913
Run: 4, iteration: 6/100, moves: 0, ncost: 326.05335764610913
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 124, ncost: 335.95564025837797
Run: 5, iteration: 2/100, moves: 44, ncost: 324.8800192291861
Run: 5, iteration: 3/100, moves: 50, ncost: 304.0947522099912
Run: 5, iteration: 4/100, moves: 25, ncost: 295.75779063091073
Run: 5, iteration: 5/100, moves: 22, ncost: 295.272810572893
Run: 5, iteration: 6/100, moves: 6, ncost: 295.2051695974159
Run: 5, iteration: 7/100, moves: 0, ncost: 295.2051695974159
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 134, ncost: 303.1308293998703
Run: 6, iteration: 2/100, moves: 56, ncost: 289.8650222542601
Run: 6, iteration: 3/100, moves: 25, ncost: 286.10757671972004
Run: 6, iteration: 4/100, moves: 19, ncost: 282.0357156673178
Run: 6, iteration: 5/100, moves: 9, ncost: 281.97110032774265
Run: 6, iteration: 6/100, moves: 1, ncost: 281.97072169106264
Run: 6, iteration: 7/100, moves: 0, ncost: 281.97072169106264
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 172, ncost: 361.33168395824777
Run: 7, iteration: 2/100, moves: 45, ncost: 344.9107436541527
Run: 7, iteration: 3/100, moves: 30, ncost: 336.2010129070207
Run: 7, iteration: 4/100, moves: 16, ncost: 334.92468761881804
Run: 7, iteration: 5/100, moves: 24, ncost: 333.25140009554576
Run: 7, iteration: 6/100, moves: 14, ncost: 326.7057718953773
Run: 7, iteration: 7/100, moves: 12, ncost: 322.3128223933504
Run: 7, iteration: 8/100, moves: 25, ncost: 318.60265532466497
Run: 7, iteration: 9/100, moves: 17, ncost: 306.88780557672385
Run: 7, iteration: 10/100, moves: 13, ncost: 298.48522366764263
Run: 7, iteration: 11/100, moves: 8, ncost: 298.033001097788
Run: 7, iteration: 12/100, moves: 10, ncost: 297.3606546106694
Run: 7, iteration: 13/100, moves: 5, ncost: 296.86281166466665
Run: 7, iteration: 14/100, moves: 2, ncost: 296.8008309945175
Run: 7, iteration: 15/100, moves: 0, ncost: 296.8008309945175
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 166, ncost: 328.6561381021889
Run: 8, iteration: 2/100, moves: 44, ncost: 326.82845370488855
Run: 8, iteration: 3/100, moves: 10, ncost: 325.26557405484067
Run: 8, iteration: 4/100, moves: 5, ncost: 322.66137030935363
Run: 8, iteration: 5/100, moves: 3, ncost: 321.99697247087886
Run: 8, iteration: 6/100, moves: 15, ncost: 314.4566933236666
Run: 8, iteration: 7/100, moves: 8, ncost: 304.0827051672772
Run: 8, iteration: 8/100, moves: 6, ncost: 296.19805532959407
Run: 8, iteration: 9/100, moves: 1, ncost: 296.18836585893075
Run: 8, iteration: 10/100, moves: 0, ncost: 296.18836585893075
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 138, ncost: 315.31108442015426
Run: 9, iteration: 2/100, moves: 95, ncost: 293.4145065965681
Run: 9, iteration: 3/100, moves: 47, ncost: 285.731417724302
Run: 9, iteration: 4/100, moves: 7, ncost: 285.653305128741
Run: 9, iteration: 5/100, moves: 0, ncost: 285.653305128741
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 182, ncost: 330.88711787227516
Run: 10, iteration: 2/100, moves: 67, ncost: 320.1614476551561
Run: 10, iteration: 3/100, moves: 14, ncost: 308.29338023752825
Run: 10, iteration: 4/100, moves: 3, ncost: 308.2287352360903
Run: 10, iteration: 5/100, moves: 0, ncost: 308.2287352360903
Best run was number 6

### Attributes

cluster_centroids_ : array, [n_clusters, n_features]
    Categories of cluster centroids
labels_ :
    Labels of each point
cost_ : float
    Clustering cost, defined as the sum distance of all points to
    their respective cluster centroids.
n_iter_ : int
    The number of iterations the algorithm ran for.
epoch_costs_ :
    The cost of the algorithm at each epoch from start to completion.
gamma : float
    The (potentially calculated) weighing factor.

In [23]:
kproto.n_iter_

6

In [23]:
centroid = kproto.cluster_centroids_
cost = kproto.epoch_costs_

In [36]:
cost

[2.6402427359642435,
 2.5206138628953862,
 2.470343416047847,
 2.4574324393541227,
 2.4521737110565405,
 2.451119592103343,
 2.4511194537402847,
 2.4511194537402847]

In [24]:
def print_centroid(centroid):
    for num, cat in zip(centroid[0], centroid[1]):
        print (f"{num}{cat}")

In [25]:
print_centroid(centroid)

[1.5138275]['Hilton Garden Inn' 'S' 'Urban']
[1.35591166]['Homewood Suites' 'W' 'Suburban']
[1.02446075]['Tru by Hilton' 'S' 'Suburban']
[9.72559406]['Holiday' 'S' 'Campus']
[1.17774595]['Hilton Garden Inn' 'M' 'Suburban']
[1.17549535]['Hilton Garden Inn' 'S' 'Interstate']
[0.99309822]['Others' 'S' 'Airport']
[2.42283044]['Embassy Suites' 'M' 'Urban']
[4.56149792]['Crowne Plaza Hotels and Resorts' 'M' 'Urban']
[1.33026945]['Hilton Garden Inn' 'N' 'Urban']
[3.30688203]['Crowne Plaza Hotels and Resorts' 'S' 'Suburban']
[2.65278651]['Hilton Garden Inn' 'N' 'Urban']
[2.26685463]['Doubletree by Hilton' 'S' 'Resort']

In [52]:
kproto.n_iter_

5

In [53]:
kproto.gamma

0.2

### prepare prediction datasets

In [26]:
df = data.df.copy()
df['cluster'] = clusters
X_new = df["cluster"].to_numpy()
y_new = data.target_spor().to_numpy()

In [27]:
test_cluster_prediction(X_new, y_new)

Train Data MSE: 0.57
Train Data R2: 0.03
Holdout Data MSE: 0.42
Holdout Data R2: 0.01

In [28]:
#(503- x_min) / (x_max - x_min)
#503/norm_X
#(x-mu)/sigma

x = [(503/norm_X)*40, 'Crowne Plaza Hotels and Resorts', 'Airport', utils.region('IL')]
y_hat = predict_one(kproto, x)

In [29]:
y_hat

8

### List of Cluster

In [30]:
#number of properties for each cluster
df.groupby(by="cluster")['property_code'].count()

cluster
0     59
1     40
2     96
3      2
4     44
5     77
6     27
7     19
8     16
9     41
10    14
11    19
12    12
Name: property_code, dtype: int64

In [31]:
from tabulate import tabulate
lst_columns = ['property_name', 'flag_name', 'num_of_rooms', 'city', 'state', 'location_type', 'spor', 'profit_margin']
for i in range(df["cluster"].max()+1):
    print(tabulate(df[df['cluster'] == i][lst_columns].head(5), headers='keys', tablefmt='psql'))
    #df[df['cluster'] == i][lst_columns].head(5)

+----+------------------------------------------+---------------------------------+----------------+---------------+---------+-----------------+----------+-----------------+
|    | property_name                            | flag_name                       |   num_of_rooms | city          | state   | location_type   |     spor |   profit_margin |
|----+------------------------------------------+---------------------------------+----------------+---------------+---------+-----------------+----------+-----------------|
|  2 | Avid Hotel Oklahoma City - Quail Springs | Avid                            |             87 | Oklahoma City | OK      | Suburban        | 1.21898  |        0.539813 |
| 15 | Crowne Plaza Baltimore                   | Crowne Plaza Hotels and Resorts |            385 | Baltimore     | MD      | Urban           | 0.466343 |        0.668021 |
| 18 | Crowne Plaza Columbus-Downtown           | Crowne Plaza Hotels and Resorts |            419 | Columbus      | OH      | Urban           | 1.25901  |        0.638367 |
| 48 | DoubleTree by Hilton Toronto Airport     | Hilton Garden Inn               |            292 | Toronto       | ON      | Airport         | 1.49897  |        0.624062 |
| 51 | Doubletree by Hilton Toronto Downtown    | Doubletree by Hilton            |            493 | Toronto       | ON      | Urban           | 1.28216  |        0.66132  |
+----+------------------------------------------+---------------------------------+----------------+---------------+---------+-----------------+----------+-----------------+
+----+---------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------+
|    | property_name                   | flag_name                       |   num_of_rooms | city             | state   | location_type   |     spor |   profit_margin |
|----+---------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------|
|  1 | Avid Hotel Meridian             | Avid                            |             87 | Oklahoma City    | OK      | Airport         | 0.564489 |        0.510323 |
| 16 | Crowne Plaza Charleston Airport | Crowne Plaza Hotels and Resorts |            166 | North Charleston | SC      | Suburban        | 1.17986  |        0.644024 |
| 24 | Crowne Plaza Lansing West       | Crowne Plaza Hotels and Resorts |            212 | Lansing          | MI      | Suburban        | 1.20951  |        0.596965 |
| 25 | Crowne Plaza Miami Airport      | Crowne Plaza Hotels and Resorts |            190 | Miami            | FL      | Urban           | 3.5002   |        0.615067 |
| 29 | Crowne Plaza Orlando Downtown   | Crowne Plaza Hotels and Resorts |            227 | Orlando          | FL      | Suburban        | 2.9952   |        0.693418 |
+----+---------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------+
+----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+---------+-----------------+
|    | property_name                             | flag_name                       |   num_of_rooms | city        | state   | location_type   |    spor |   profit_margin |
|----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+---------+-----------------|
|  7 | Candlewood Suites - Phoenix               | Candlewood Suites               |             98 | Phoenix     | AZ      | Suburban        | 1.2845  |        0.401749 |
| 14 | Crowne Plaza Atlanta Perimeter at Ravinia | Crowne Plaza Hotels and Resorts |            495 | Atlanta     | GA      | Urban           | 1.50515 |        0.589848 |
| 21 | Crowne Plaza Fredericton-Lord Beaverbrook | Crowne Plaza Hotels and Resorts |            169 | Fredericton | NB      | Urban           | 1.29629 |        0.495574 |
| 23 | Crowne Plaza Kansas City Downtown         | Crowne Plaza Hotels and Resorts |            385 | Kansas City | MO      | Urban           | 1.44789 |        0.624221 |
| 30 | Crowne Plaza Palo Alto                    | Crowne Plaza Hotels and Resorts |            195 | Palo Alto   | CA      | Suburban        | 1.60786 |        0.657344 |
+----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+---------+-----------------+
+----+--------------------------------------------------+-------------------+----------------+------------+---------+-----------------+----------+-----------------+
|    | property_name                                    | flag_name         |   num_of_rooms | city       | state   | location_type   |     spor |   profit_margin |
|----+--------------------------------------------------+-------------------+----------------+------------+---------+-----------------+----------+-----------------|
| 10 | Candlewood Suites Mooresville/Lake Norman,NC     | Candlewood Suites |             90 | Mooreville | NC      | Urban           | 0.506983 |        0.537543 |
| 94 | Hampton Inn & Suites Los Angeles Burbank Airport | Hampton Inn       |             99 | Burbank    | CA      | Airport         | 1.22536  |        0.67753  |
+----+--------------------------------------------------+-------------------+----------------+------------+---------+-----------------+----------+-----------------+
+----+------------------------------------------------------+---------------------------------+----------------+----------------+---------+-----------------+---------+-----------------+
|    | property_name                                        | flag_name                       |   num_of_rooms | city           | state   | location_type   |    spor |   profit_margin |
|----+------------------------------------------------------+---------------------------------+----------------+----------------+---------+-----------------+---------+-----------------|
| 13 | Crowne Plaza Atlanta Airport                         | Crowne Plaza Hotels and Resorts |            378 | Atlanta        | GA      | Airport         | 1.5394  |        0.658382 |
| 27 | Crowne Plaza Milwaukee West                          | Crowne Plaza Hotels and Resorts |            198 | Wauwatosa      | WI      | Urban           | 1.73924 |        0.603736 |
| 32 | Crowne Plaza San Jose-Silicon Valley                 | Crowne Plaza Hotels and Resorts |            304 | Milpitas       | CA      | Urban           | 1.24573 |        0.598346 |
| 40 | DoubleTree Suites Salt Lake City Downtown            | Doubletree by Hilton            |            241 | Salt Lake City | UT      | Urban           | 1.09855 |        0.655566 |
| 41 | DoubleTree Suites by Hilton Hotel Boston - Cambridge | Doubletree by Hilton            |            308 | Boston         | MA      | Urban           | 4.6325  |        0.708547 |
+----+------------------------------------------------------+---------------------------------+----------------+----------------+---------+-----------------+---------+-----------------+
+----+--------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                              | flag_name                       |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+--------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
| 11 | Comfort Suites Downtown Orlando            | Comfort Suites                  |            122 | Orlando     | FL      | Resort          | 0.370429 |        0.56705  |
| 17 | Crowne Plaza Charlotte Executive Park      | Crowne Plaza Hotels and Resorts |            300 | Charlotte   | NC      | Suburban        | 1.7364   |        0.625514 |
| 22 | Crowne Plaza Greenville-I-385-Roper Mtn Rd | Crowne Plaza Hotels and Resorts |            202 | Greenville  | SC      | Urban           | 0.884051 |        0.625965 |
| 26 | Crowne Plaza Milwaukee Airport             | Crowne Plaza Hotels and Resorts |            193 | Milwaukee   | WI      | Urban           | 1.95722  |        0.646635 |
| 34 | Crowne Plaza Springfield                   | Crowne Plaza Hotels and Resorts |            288 | Springfield | IL      | Suburban        | 0.960986 |        0.601784 |
+----+--------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+----+-----------------------------------------------+---------------------------------+----------------+--------------+---------+-----------------+----------+-----------------+
|    | property_name                                 | flag_name                       |   num_of_rooms | city         | state   | location_type   |     spor |   profit_margin |
|----+-----------------------------------------------+---------------------------------+----------------+--------------+---------+-----------------+----------+-----------------|
|  6 | Candlewood Suites - Fort Collins              | Candlewood Suites               |             83 | Fort Collins | CO      | Urban           | 1.02403  |        0.638943 |
| 19 | Crowne Plaza Downtown Denver                  | Crowne Plaza Hotels and Resorts |            380 | Denver       | CO      | Urban           | 2.57752  |        0.619366 |
| 28 | Crowne Plaza Moncton Downtown                 | Crowne Plaza Hotels and Resorts |            191 | Moncton      | NB      | Urban           | 1.67227  |        0.506614 |
| 42 | DoubleTree by Hilton Dallas - Campbell Centre | Doubletree by Hilton            |            300 | Dallas       | TX      | Interstate      | 0.953481 |        0.57935  |
| 96 | Hampton Inn & Suites Palm Desert              | Hampton Inn                     |             88 | Palm Desert  | CA      | Suburban        | 1.04605  |        0.599001 |
+----+-----------------------------------------------+---------------------------------+----------------+--------------+---------+-----------------+----------+-----------------+
+-----+-----------------------------------------------+------------------------+----------------+----------------+---------+-----------------+-----------+-----------------+
|     | property_name                                 | flag_name              |   num_of_rooms | city           | state   | location_type   |      spor |   profit_margin |
|-----+-----------------------------------------------+------------------------+----------------+----------------+---------+-----------------+-----------+-----------------|
|   0 | Aston Waikiki Beach Hotel                     | Aston                  |            625 | Honolulu       | HI      | Urban           | 0.0856803 |        0.53522  |
|  58 | Embassy Suites Minneapolis Airport            | Embassy Suites         |            310 | Bloomington    | MN      | Airport         | 1.01229   |        0.663315 |
| 107 | Hampton Inn & Suites Tarpon Springs           | Hampton Inn and Suites |             84 | Tarpon Springs | FL      | Suburban        | 1.11753   |        0.554225 |
| 122 | Hampton Inn Henderson                         | Hampton Inn            |             75 | Henderson      | NC      | Suburban        | 0.709458  |        0.552091 |
| 155 | Hilton Garden Inn Allentown Bethlehem Airport | Hilton Garden Inn      |            106 | Allentown      | PA      | Airport         | 1.22128   |        0.71486  |
+-----+-----------------------------------------------+------------------------+----------------+----------------+---------+-----------------+-----------+-----------------+
+----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                                       | flag_name                       |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
|  8 | Candlewood Suites - Terre Haute                     | Candlewood Suites               |             97 | Terre Haute | IN      | Urban           | 0.725953 |        0.69044  |
|  9 | Candlewood Suites Columbia/Ft Jackson               | Candlewood Suites               |            112 | Columbia    | SC      | Suburban        | 0.282481 |        0.62268  |
| 20 | Crowne Plaza Dulles Airport                         | Crowne Plaza Hotels and Resorts |            324 | Herndon     | VA      | Suburban        | 1.0151   |        0.690342 |
| 47 | DoubleTree by Hilton Hotel Sunrise - Sawgrass Mills | Doubletree by Hilton            |            250 | Sunrise     | FL      | Resort          | 0.129097 |        0.690805 |
| 53 | Embassy Suites Blue Ash                             | Embassy Suites                  |            234 | Blue Ash    | OH      | Interstate      | 0.341286 |        0.70784  |
+----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+----+---------------------------------------+---------------------------------+----------------+----------+---------+-----------------+----------+-----------------+
|    | property_name                         | flag_name                       |   num_of_rooms | city     | state   | location_type   |     spor |   profit_margin |
|----+---------------------------------------+---------------------------------+----------------+----------+---------+-----------------+----------+-----------------|
| 36 | Crowne Plaza Ventura Beach            | Crowne Plaza Hotels and Resorts |            235 | Ventura  | CA      | Resort          | 1.46373  |        0.552731 |
| 45 | DoubleTree by Hilton Hotel Carson     | Doubletree by Hilton            |            225 | Carson   | CA      | Interstate      | 0.923792 |        0.677582 |
| 57 | Embassy Suites Lombard                | Embassy Suites                  |            262 | Lombard  | IL      | Suburban        | 1.42481  |        0.618476 |
| 64 | Embassy Suites Seattle North Lynnwood | Embassy Suites                  |            240 | Lynnwood | WA      | Suburban        | 0.850757 |        0.587705 |
| 84 | Hampton Inn & Suites DuPont           | Hampton Inn and Suites          |            115 | Dupont   | WA      | Suburban        | 0.634444 |        0.649241 |
+----+---------------------------------------+---------------------------------+----------------+----------+---------+-----------------+----------+-----------------+
+----+--------------------------------------------------+------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                                    | flag_name              |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+--------------------------------------------------+------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
|  4 | Best Western Plus Nashville Airport              | Best Western Plus      |             90 | Nashville   | TN      | Airport         | 0.709481 |        0.463298 |
| 46 | DoubleTree by Hilton Hotel San Francisco Airport | Doubletree by Hilton   |            395 | Burlingame  | CA      | Airport         | 0.425908 |        0.615255 |
| 71 | Hammock Cove Resort                              | Independent            |             42 | St. Philip  | FL      | Resort          | 3.18346  |        0.60963  |
| 86 | Hampton Inn & Suites Fort Lauderdale Miramar     | Hampton Inn and Suites |            122 | Miramar     | FL      | Suburban        | 0.587987 |        0.68916  |
| 90 | Hampton Inn & Suites Jacksonville/Orange Park FL | Hampton Inn and Suites |            121 | Orange Park | FL      | Suburban        | 1.10839  |        0.612522 |
+----+--------------------------------------------------+------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+-----+-----------------------------------------+------------------------+----------------+------------+---------+-----------------+----------+-----------------+
|     | property_name                           | flag_name              |   num_of_rooms | city       | state   | location_type   |     spor |   profit_margin |
|-----+-----------------------------------------+------------------------+----------------+------------+---------+-----------------+----------+-----------------|
|   3 | Avid Hotel Tulsa, OK                    | Avid                   |             95 | Tulsa      | OK      | Suburban        | 0.481898 |        0.539815 |
|  12 | Comfort Suites Nashville Airport        | Comfort Suites         |             96 | Nashville  | TN      | Airport         | 0.727175 |        0.538461 |
|  54 | Embassy Suites Charlotte Ayrsley        | Embassy Suites         |            170 | Charlotte  | NC      | Interstate      | 0.800858 |        0.46983  |
|  72 | Hampton Inn & Suite Yonkers Westchester | Hampton Inn and Suites |            150 | Yonkers    | NY      | Urban           | 1.70474  |        0.64949  |
| 131 | Hampton Inn Middletown, NY              | Hampton Inn and Suites |            127 | Middletown | NY      | Urban           | 0.536118 |        0.616496 |
+-----+-----------------------------------------+------------------------+----------------+------------+---------+-----------------+----------+-----------------+
+-----+-----------------------------------------+------------------------+----------------+-------------------+---------+-----------------+----------+-----------------+
|     | property_name                           | flag_name              |   num_of_rooms | city              | state   | location_type   |     spor |   profit_margin |
|-----+-----------------------------------------+------------------------+----------------+-------------------+---------+-----------------+----------+-----------------|
|  44 | DoubleTree by Hilton Hotel Bemidji      | Doubletree by Hilton   |             92 | Bemidji           | MN      | Resort          | 0.595082 |        0.589216 |
|  49 | Doubletree by Hilton Denver Tech Center | Doubletree by Hilton   |            305 | Greenwood Village | CO      | Suburban        | 0.666571 |        0.694176 |
|  67 | Embassy Suites by Hilton Memphis        | Embassy Suites         |            220 | Memphis           | TN      | Suburban        | 0.641264 |        0.677462 |
|  85 | Hampton Inn & Suites East Mesa          | Hampton Inn and Suites |            101 | Gilbert           | AZ      | Suburban        | 1.12703  |        0.42653  |
| 134 | Hampton Inn Oneonta                     | Hampton Inn and Suites |            106 | Oneonta           | NY      | Suburban        | 1.31357  |        0.527572 |
+-----+-----------------------------------------+------------------------+----------------+-------------------+---------+-----------------+----------+-----------------+

In [32]:
pd.options.display.max_rows = 100

In [35]:
df[df['cluster'] == 1][lst_columns].sort_values(by='flag_name')

,property_name,flag_name,num_of_rooms,city,state,location_type,spor,profit_margin
1,Avid Hotel Meridian,Avid,87,Oklahoma City,OK,Airport,0.564489,0.510323
16,Crowne Plaza Charleston Airport,Crowne Plaza Hotels and Resorts,166,North Charleston,SC,Suburban,1.179861,0.644024
24,Crowne Plaza Lansing West,Crowne Plaza Hotels and Resorts,212,Lansing,MI,Suburban,1.209513,0.596965
25,Crowne Plaza Miami Airport,Crowne Plaza Hotels and Resorts,190,Miami,FL,Urban,3.500201,0.615067
29,Crowne Plaza Orlando Downtown,Crowne Plaza Hotels and Resorts,227,Orlando,FL,Suburban,2.995200,0.693418
378,Hotel MdR Marina Del Ray - a DoubleTree by Hilton,Doubletree by Hilton,283,Marina del Ray,CA,Interstate,0.393125,0.605302
52,Embassy Suites Bloomington,Embassy Suites,234,Bloomington,MN,Suburban,1.412074,0.619983
55,Embassy Suites Crystal City National Airport,Embassy Suites,267,Arlington,VA,Airport,2.538994,0.710580
66,Embassy Suites by Hilton Laredo,Embassy Suites,320,Laredo,TX,Urban,1.165768,0.612695
70,Embassy Suites by Hilton Washington DC Convent...,Embassy Suites,384,Washington,DC,Urban,2.940062,0.719040
135,Hampton Inn Orlando International Drive/Conven...,Hampton Inn,170,Orlando,FL,Resort,0.936120,0.688783
126,Hampton Inn Jupiter/Juno Beach,Hampton Inn,89,Juno Beach,FL,Suburban,1.807850,0.513333
133,Hampton Inn New York - LaGuardia Airport,Hampton Inn,220,East Elmhurst,NY,Airport,1.276453,0.609753
97,Hampton Inn & Suites Phenix City- Columbus Area,Hampton Inn and Suites,81,Phenix City,AL,Interstate,1.086876,0.579922
306,Hilton Philadelphia City Avenue,Hilton,209,philadelphia,PA,Urban,0.439382,0.649834
305,Hilton Indianapolis Hotel & Suites,Hilton,352,Indianapolis,IN,Urban,0.922389,0.613063
270,Hilton Garden Inn Salina,Hilton Garden Inn,97,Salina,KS,Interstate,1.830972,0.466987
301,Hilton Garden Inn West Des Moines,Hilton Garden Inn,176,West Des Moines,IA,Suburban,0.419481,0.484420
287,Hilton Garden Inn Sun Prairie Madison,Hilton Garden Inn,124,Sun Prairie,WI,Interstate,1.289437,0.611592
286,Hilton Garden Inn Stony Brook,Hilton Garden Inn,135,Stony Brook,NY,Campus,3.652462,0.665579
266,Hilton Garden Inn Richmond Airport,Hilton Garden Inn,130,Sandston,VA,Interstate,0.593611,0.686988
252,Hilton Garden Inn Orange Beach Beachfront,Hilton Garden Inn,137,Orange Beach,AL,Resort,0.396530,0.593163
214,Hilton Garden Inn Houston Hobby Airport,Hilton Garden Inn,136,Houston,TX,Airport,1.828447,0.606667
213,Hilton Garden Inn Halifax Airport,Hilton Garden Inn,145,Enfield,NS,Airport,0.491686,0.586915
178,Hilton Garden Inn Charlotte/Ayrsley,Hilton Garden Inn,120,Charlotte,NC,Suburban,0.921529,0.714970
176,Hilton Garden Inn Champaign/ Urbana,Hilton Garden Inn,99,Champaign,IL,Suburban,0.424118,0.603420
161,Hilton Garden Inn Atlanta South-McDonough,Hilton Garden Inn,105,McDonough,GA,Interstate,1.015724,0.624280
257,Hilton Garden Inn Philadelphia/Ft. Washington,Hilton Garden Inn,146,Fort Washington,PA,Interstate,0.519661,0.677277
159,Hilton Garden Inn Atlanta Downtown,Hilton Garden Inn,242,Atlanta,GA,Urban,1.363710,0.704227
370,Homewood Suites by Hilton Shreveport,Homewood Suites,123,Shreveport,LA,Urban,1.060842,0.651240
340,Homewood Suites Denver Downtown Convention Center,Homewood Suites,182,Denver,CO,Urban,0.987382,0.686740
369,Homewood Suites by Hilton Ottawa Downtown,Homewood Suites,171,Ottawa,ON,Suburban,0.574294,0.541116
438,Tru by Hilton Madison West,Tru by Hilton,106,Madison,WI,Urban,2.003126,0.593738
425,Tru by Hilton Fort Wayne North,Tru by Hilton,92,Fort Wayne,IN,Interstate,2.217918,0.573158
423,Tru by Hilton Fayetteville I-95,Tru by Hilton,109,Fayetteville,NC,Interstate,1.926852,0.655602
465,Tru by Hilton Webster Houston NASA,Tru by Hilton,98,Webster,TX,Urban,0.454400,0.613830
412,Tru by Hilton Chicopee Springfield,Tru by Hilton,108,Chicopee,MA,Interstate,2.452906,0.607971
389,TRU BY HILTON - WYTHEVILLE,Tru by Hilton,94,Wytheville,VA,Urban,0.884349,0.672525
414,Tru by Hilton Crossett,Tru by Hilton,80,Crossett,AR,Urban,0.691802,0.569708
466,Tru by Hilton Wichita Northeast,Tru by Hilton,98,Wichita,KS,Urban,1.117886,0.621751

In [34]:
df.groupby(by="flag_name")["property_code"].count()

flag_name
Aston                                1
Avid                                 3
Best Western Plus                    1
Candlewood Suites                    5
Comfort Suites                       2
Crowne Plaza Hotels and Resorts     25
Curio by Hilton                      3
Doubletree by Hilton                15
Embassy Suites                      18
Hampton Inn                         42
Hampton Inn and Suites              36
Hilton                               6
Hilton Garden Inn                  152
Hilton Suites                        1
Holiday Inn                          1
Holiday Inn Express                  4
Holiday Inn Express & Suites         3
Home2                               23
Homewood Suites                     38
Hotel Indigo                         1
Independent                          1
Intercontinental Hotels Group        1
La Quinta Inns and Suites            1
Liv Dev                              2
Quality Suites                       1
Red Lion Hotel                       1
Renaissance                          1
Staybridge Suites                    1
Tapestry Collection                  1
Tru by Hilton                       76
Name: property_code, dtype: int64

In [ ]:
# Save models if are satisfied with clusters

In [24]:
import pickle

with open('../web/data/kproto.pkl', 'wb') as handle:
    pickle.dump(kproto, handle, protocol=pickle.HIGHEST_PROTOCOL)
df.to_pickle('../web/data/model.pkl')