In [1]:
# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../src')

In [2]:
import importlib as imt 
import etl
import utils
import dataset
import clustering_kproto
imt.reload(utils)
imt.reload(etl)
imt.reload(dataset)
imt.reload(clustering_kproto)

In [3]:
from clustering_kproto import plot_costs
from clustering_kproto import Cluster_Regression
from clustering_kproto import test_cluster_prediction
from clustering_kproto import predict_one

In [4]:
import pandas as pd
import numpy as np

### prepare data

In [5]:
data = dataset.Data_2019()
data.load()
data.clean()

/home/jaejun/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
data.df.groupby(by="new_flag_name")["property_code"].count()

new_flag_name
Crowne Plaza Hotels and Resorts     25
Doubletree by Hilton                15
Embassy Suites                      18
Hampton Inn                         42
Hampton Inn and Suites              36
Hilton                              10
Hilton Garden Inn                  152
Holiday                              8
Home2                               23
Homewood Suites                     38
Others                              23
Tru by Hilton                       76
Name: property_code, dtype: int64

In [13]:
# clustering by brand
# data.df['cluster'] = data.df['new_flag_name'].astype('category')
# data.df['cluster'].cat.codes

In [8]:
#data.df.info()

### prepare features

In [7]:
features = ['hotel_size', 'new_flag_name', 'region', 'location_type']
X = data.df[features].to_numpy()
y = data.df["revenue"].to_numpy()

### prepare test and train set

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
#shuffle
X, y = shuffle(X, y, random_state = 77)

#split for holdout data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

### scale down numerical feature, num_of_rooms

In [10]:
X_norm = X.copy()

In [22]:
X_norm[0]

array(['big', 'Embassy Suites', 'M', 'Interstate'], dtype=object)

    Parameters
    -----------
    n_clusters : int, optional, default: 8
        The number of clusters to form as well as the number of
        centroids to generate.
    max_iter : int, default: 100
        Maximum number of iterations of the k-modes algorithm for a
        single run.
    num_dissim : func, default: euclidian_dissim
        Dissimilarity function used by the algorithm for numerical variables.
        Defaults to the Euclidian dissimilarity function.
    cat_dissim : func, default: matching_dissim
        Dissimilarity function used by the kmodes algorithm for categorical variables.
        Defaults to the matching dissimilarity function.
    n_init : int, default: 10
        Number of time the k-modes algorithm will be run with different
        centroid seeds. The final results will be the best output of
        n_init consecutive runs in terms of cost.
    init : {'Huang', 'Cao', 'random' or a list of ndarrays}, default: 'Cao'
        Method for initialization:
        'Huang': Method in Huang [1997, 1998]
        'Cao': Method in Cao et al. [2009]
        'random': choose 'n_clusters' observations (rows) at random from
        data for the initial centroids.
        If a list of ndarrays is passed, it should be of length 2, with
        shapes (n_clusters, n_features) for numerical and categorical
        data respectively. These are the initial centroids.
    gamma : float, default: None
        Weighing factor that determines relative importance of numerical vs.
        categorical attributes (see discussion in Huang [1997]). By default,
        automatically calculated from data.
    verbose : integer, optional
        Verbosity mode.
    random_state : int, RandomState instance or None, optional, default: None
        If int, random_state is the seed used by the random number generator;
        If RandomState instance, random_state is the random number generator;
        If None, the random number generator is the RandomState instance used
        by `np.random`.
    n_jobs : int, default: 1
        The number of jobs to use for the computation. This works by computing
        each of the n_init runs in parallel.
        If -1 all CPUs are used. If 1 is given, no parallel computing code is
        used at all, which is useful for debugging. For n_jobs below -1,
        (n_cpus + 1 + n_jobs) are used. Thus for n_jobs = -2, all CPUs but one
        are used.
        
        matching_dissim
        jaccard_dissim_binary
        jaccard_dissim_label
        euclidean_dissim
        ng_dissim

### clustering

In [23]:
from kmodes.kmodes import KModes
from kmodes.util.dissim import jaccard_dissim_label
from kmodes.util.dissim import matching_dissim
from kmodes.util.dissim import euclidean_dissim

kmode =  KModes(n_clusters = 13, init = 'Huang', max_iter = 100,
                     cat_dissim=jaccard_dissim_label, 
                     n_init =10, verbose = 1, random_state=77, n_jobs=1) 
clusters = kmode.fit_predict(X_norm)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 167, cost: 138.14999999999986
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 112, cost: 131.06666666666663
Run 2, iteration: 2/100, moves: 13, cost: 131.06666666666663
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 191, cost: 123.6833333333334
Run 3, iteration: 2/100, moves: 67, cost: 118.93333333333337
Run 3, iteration: 3/100, moves: 5, cost: 117.8833333333334
Run 3, iteration: 4/100, moves: 4, cost: 117.8833333333334
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 122, cost: 133.1166666666665
Run 4, iteration: 2/100, moves: 26, cost: 130.59999999999988
Run 4, iteration: 3/100, moves: 17, cost: 130.59999999999988
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 149, cost: 119.68333333333331
Run 5, iteration: 2/100, moves: 27, cost: 122.34999999999991
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 148, cost: 133.2333333333333
Run 6, iteration: 2/100, moves: 13, cost: 135.68333333333325
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 152, cost: 129.55000000000004
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 200, cost: 130.96666666666673
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 209, cost: 131.54999999999998
Run 9, iteration: 2/100, moves: 45, cost: 131.54999999999998
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 124, cost: 121.33333333333344
Run 10, iteration: 2/100, moves: 38, cost: 121.33333333333344
Best run was number 3

### Attributes

cluster_centroids_ : array, [n_clusters, n_features]
    Categories of cluster centroids
labels_ :
    Labels of each point
cost_ : float
    Clustering cost, defined as the sum distance of all points to
    their respective cluster centroids.
n_iter_ : int
    The number of iterations the algorithm ran for.
epoch_costs_ :
    The cost of the algorithm at each epoch from start to completion.
gamma : float
    The (potentially calculated) weighing factor.

In [24]:
centroid = kmode.cluster_centroids_
cost = kmode.epoch_costs_

In [17]:
cost

[131.19999999999996, 128.64999999999995, 129.68333333333325]

In [27]:
centroid

array([['medium', 'Hilton Garden Inn', 'N', 'Interstate'],
       ['big', 'Hilton Garden Inn', 'W', 'Urban'],
       ['small', 'Hampton Inn', 'S', 'Suburban'],
       ['medium', 'Home2', 'S', 'Urban'],
       ['small', 'Tru by Hilton', 'S', 'Suburban'],
       ['medium', 'Hilton Garden Inn', 'S', 'Interstate'],
       ['medium', 'Hilton Garden Inn', 'S', 'Suburban'],
       ['big', 'Doubletree by Hilton', 'M', 'Urban'],
       ['medium', 'Hilton Garden Inn', 'W', 'Urban'],
       ['small', 'Tru by Hilton', 'S', 'Interstate'],
       ['medium', 'Tru by Hilton', 'S', 'Suburban'],
       ['big', 'Embassy Suites', 'S', 'Urban'],
       ['small', 'Hampton Inn', 'M', 'Interstate']], dtype='<U20')

### prepare prediction datasets

In [28]:
df = data.df.copy()
df['cluster'] = clusters
X_new = df["cluster"].to_numpy()
y_new = data.target_spor().to_numpy()

In [29]:
test_cluster_prediction(X_new, y_new)

Train Data MSE: 0.55
Train Data R2: 0.05
Holdout Data MSE: 0.43
Holdout Data R2: -0.02

In [31]:


x = ['big', 'Crowne Plaza Hotels and Resorts', 'Airport', utils.region('IL')]
y_hat = predict_one(kmode, x)

In [32]:
y_hat

1

### List of Cluster

In [33]:
#number of properties for each cluster
df.groupby(by="cluster")['property_code'].count()

cluster
0     44
1     40
2     48
3     34
4     34
5     54
6     55
7     36
8     15
9     35
10    15
11    45
12    11
Name: property_code, dtype: int64

In [34]:
from tabulate import tabulate
lst_columns = ['property_name', 'flag_name', 'num_of_rooms', 'city', 'state', 'location_type', 'spor', 'profit_margin']
for i in range(df["cluster"].max()+1):
    print(tabulate(df[df['cluster'] == i][lst_columns].head(5), headers='keys', tablefmt='psql'))
    #df[df['cluster'] == i][lst_columns].head(5)

+----+--------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+-----------+-----------------+
|    | property_name                              | flag_name                       |   num_of_rooms | city       | state   | location_type   |      spor |   profit_margin |
|----+--------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+-----------+-----------------|
|  0 | Aston Waikiki Beach Hotel                  | Aston                           |            625 | Honolulu   | HI      | Urban           | 0.0856803 |        0.53522  |
| 17 | Crowne Plaza Charlotte Executive Park      | Crowne Plaza Hotels and Resorts |            300 | Charlotte  | NC      | Suburban        | 1.7364    |        0.625514 |
| 22 | Crowne Plaza Greenville-I-385-Roper Mtn Rd | Crowne Plaza Hotels and Resorts |            202 | Greenville | SC      | Urban           | 0.884051  |        0.625965 |
| 36 | Crowne Plaza Ventura Beach                 | Crowne Plaza Hotels and Resorts |            235 | Ventura    | CA      | Resort          | 1.46373   |        0.552731 |
| 38 | Delta Colonial Hotel                       | Red Lion Hotel                  |            100 | Helena     | MT      | Suburban        | 0.742967  |        0.645427 |
+----+--------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+-----------+-----------------+
+----+----------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------+
|    | property_name                    | flag_name                       |   num_of_rooms | city      | state   | location_type   |     spor |   profit_margin |
|----+----------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------|
|  3 | Avid Hotel Tulsa, OK             | Avid                            |             95 | Tulsa     | OK      | Suburban        | 0.481898 |        0.539815 |
| 15 | Crowne Plaza Baltimore           | Crowne Plaza Hotels and Resorts |            385 | Baltimore | MD      | Urban           | 0.466343 |        0.668021 |
| 28 | Crowne Plaza Moncton Downtown    | Crowne Plaza Hotels and Resorts |            191 | Moncton   | NB      | Urban           | 1.67227  |        0.506614 |
| 53 | Embassy Suites Blue Ash          | Embassy Suites                  |            234 | Blue Ash  | OH      | Interstate      | 0.341286 |        0.70784  |
| 54 | Embassy Suites Charlotte Ayrsley | Embassy Suites                  |            170 | Charlotte | NC      | Interstate      | 0.800858 |        0.46983  |
+----+----------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------+
+----+---------------------------------------------+---------------------------------+----------------+-----------------+---------+-----------------+---------+-----------------+
|    | property_name                               | flag_name                       |   num_of_rooms | city            | state   | location_type   |    spor |   profit_margin |
|----+---------------------------------------------+---------------------------------+----------------+-----------------+---------+-----------------+---------+-----------------|
|  2 | Avid Hotel Oklahoma City - Quail Springs    | Avid                            |             87 | Oklahoma City   | OK      | Suburban        | 1.21898 |        0.539813 |
|  6 | Candlewood Suites - Fort Collins            | Candlewood Suites               |             83 | Fort Collins    | CO      | Urban           | 1.02403 |        0.638943 |
| 31 | Crowne Plaza Philadelphia - King of Prussia | Crowne Plaza Hotels and Resorts |            226 | King of Prussia | PA      | Urban           | 1.64522 |        0.60541  |
| 32 | Crowne Plaza San Jose-Silicon Valley        | Crowne Plaza Hotels and Resorts |            304 | Milpitas        | CA      | Urban           | 1.24573 |        0.598346 |
| 40 | DoubleTree Suites Salt Lake City Downtown   | Doubletree by Hilton            |            241 | Salt Lake City  | UT      | Urban           | 1.09855 |        0.655566 |
+----+---------------------------------------------+---------------------------------+----------------+-----------------+---------+-----------------+---------+-----------------+
+----+------------------------------------------------------+------------------------+----------------+---------------+---------+-----------------+----------+-----------------+
|    | property_name                                        | flag_name              |   num_of_rooms | city          | state   | location_type   |     spor |   profit_margin |
|----+------------------------------------------------------+------------------------+----------------+---------------+---------+-----------------+----------+-----------------|
|  1 | Avid Hotel Meridian                                  | Avid                   |             87 | Oklahoma City | OK      | Airport         | 0.564489 |        0.510323 |
| 41 | DoubleTree Suites by Hilton Hotel Boston - Cambridge | Doubletree by Hilton   |            308 | Boston        | MA      | Urban           | 4.6325   |        0.708547 |
| 50 | Doubletree by Hilton Hotel San Diego - Del Mar       | Doubletree by Hilton   |            224 | San Diego     | CA      | Interstate      | 0.879263 |        0.652463 |
| 82 | Hampton Inn & Suites Columbia South                  | Hampton Inn and Suites |            124 | Columbia      | MD      | Suburban        | 1.84694  |        0.579426 |
| 88 | Hampton Inn & Suites Hood River                      | Hampton Inn and Suites |             88 | Hood River    | OR      | Interstate      | 2.70563  |        0.549547 |
+----+------------------------------------------------------+------------------------+----------------+---------------+---------+-----------------+----------+-----------------+
+----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                             | flag_name                       |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
| 23 | Crowne Plaza Kansas City Downtown         | Crowne Plaza Hotels and Resorts |            385 | Kansas City | MO      | Urban           | 1.44789  |        0.624221 |
| 30 | Crowne Plaza Palo Alto                    | Crowne Plaza Hotels and Resorts |            195 | Palo Alto   | CA      | Suburban        | 1.60786  |        0.657344 |
| 33 | Crowne Plaza Seattle-Downtown             | Crowne Plaza Hotels and Resorts |            465 | Seattle     | WA      | Urban           | 1.09589  |        0.574249 |
| 61 | Embassy Suites Portland Washington Square | Embassy Suites                  |            356 | Tigard      | OR      | Suburban        | 2.52562  |        0.617124 |
| 65 | Embassy Suites by Hilton Arcadia          | Embassy Suites                  |            191 | Arcadia     | CA      | Suburban        | 0.956329 |        0.58355  |
+----+-------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+----+----------------------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------+
|    | property_name                                | flag_name                       |   num_of_rooms | city             | state   | location_type   |     spor |   profit_margin |
|----+----------------------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------|
| 10 | Candlewood Suites Mooresville/Lake Norman,NC | Candlewood Suites               |             90 | Mooreville       | NC      | Urban           | 0.506983 |        0.537543 |
| 16 | Crowne Plaza Charleston Airport              | Crowne Plaza Hotels and Resorts |            166 | North Charleston | SC      | Suburban        | 1.17986  |        0.644024 |
| 34 | Crowne Plaza Springfield                     | Crowne Plaza Hotels and Resorts |            288 | Springfield      | IL      | Suburban        | 0.960986 |        0.601784 |
| 35 | Crowne Plaza St. Louis Airport               | Crowne Plaza Hotels and Resorts |            350 | BRIDGETON        | MO      | Airport         | 1.47665  |        0.54216  |
| 77 | Hampton Inn & Suites Baton Rouge Downtown    | Hampton Inn                     |            137 | Baton Rouge      | LA      | Urban           | 0.9167   |        0.635693 |
+----+----------------------------------------------+---------------------------------+----------------+------------------+---------+-----------------+----------+-----------------+
+----+--------------------------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------+
|    | property_name                                    | flag_name                       |   num_of_rooms | city      | state   | location_type   |     spor |   profit_margin |
|----+--------------------------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------|
| 11 | Comfort Suites Downtown Orlando                  | Comfort Suites                  |            122 | Orlando   | FL      | Resort          | 0.370429 |        0.56705  |
| 24 | Crowne Plaza Lansing West                        | Crowne Plaza Hotels and Resorts |            212 | Lansing   | MI      | Suburban        | 1.20951  |        0.596965 |
| 27 | Crowne Plaza Milwaukee West                      | Crowne Plaza Hotels and Resorts |            198 | Wauwatosa | WI      | Urban           | 1.73924  |        0.603736 |
| 29 | Crowne Plaza Orlando Downtown                    | Crowne Plaza Hotels and Resorts |            227 | Orlando   | FL      | Suburban        | 2.9952   |        0.693418 |
| 43 | DoubleTree by Hilton Deadwood at Cadillac Jack's | Doubletree by Hilton            |            107 | Deadwood  | SD      | Urban           | 4.86474  |        0.451281 |
+----+--------------------------------------------------+---------------------------------+----------------+-----------+---------+-----------------+----------+-----------------+
+----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                                       | flag_name                       |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
|  8 | Candlewood Suites - Terre Haute                     | Candlewood Suites               |             97 | Terre Haute | IN      | Urban           | 0.725953 |        0.69044  |
|  9 | Candlewood Suites Columbia/Ft Jackson               | Candlewood Suites               |            112 | Columbia    | SC      | Suburban        | 0.282481 |        0.62268  |
| 13 | Crowne Plaza Atlanta Airport                        | Crowne Plaza Hotels and Resorts |            378 | Atlanta     | GA      | Airport         | 1.5394   |        0.658382 |
| 47 | DoubleTree by Hilton Hotel Sunrise - Sawgrass Mills | Doubletree by Hilton            |            250 | Sunrise     | FL      | Resort          | 0.129097 |        0.690805 |
| 96 | Hampton Inn & Suites Palm Desert                    | Hampton Inn                     |             88 | Palm Desert | CA      | Suburban        | 1.04605  |        0.599001 |
+----+-----------------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+-----+-----------------------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
|     | property_name                                                   | flag_name                       |   num_of_rooms | city       | state   | location_type   |     spor |   profit_margin |
|-----+-----------------------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------|
|  18 | Crowne Plaza Columbus-Downtown                                  | Crowne Plaza Hotels and Resorts |            419 | Columbus   | OH      | Urban           | 1.25901  |        0.638367 |
|  70 | Embassy Suites by Hilton Washington DC Convention Center        | Embassy Suites                  |            384 | Washington | DC      | Urban           | 2.94006  |        0.71904  |
|  95 | Hampton Inn & Suites Mount Vernon Belvoir Alexandria South Area | Hampton Inn                     |            131 | Alexandria | VA      | Suburban        | 1.24131  |        0.566546 |
| 181 | Hilton Garden Inn Chesapeake/Greenbrier                         | Hilton Garden Inn               |             92 | Chesapeake | VA      | Interstate      | 0.689342 |        0.686245 |
| 221 | Hilton Garden Inn Jackson/Clinton                               | Hilton Garden Inn               |            107 | Clinton    | MS      | Suburban        | 1.19675  |        0.611015 |
+-----+-----------------------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
+----+-----------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
|    | property_name                                 | flag_name                       |   num_of_rooms | city        | state   | location_type   |     spor |   profit_margin |
|----+-----------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------|
| 21 | Crowne Plaza Fredericton-Lord Beaverbrook     | Crowne Plaza Hotels and Resorts |            169 | Fredericton | NB      | Urban           | 1.29629  |        0.495574 |
| 25 | Crowne Plaza Miami Airport                    | Crowne Plaza Hotels and Resorts |            190 | Miami       | FL      | Urban           | 3.5002   |        0.615067 |
| 26 | Crowne Plaza Milwaukee Airport                | Crowne Plaza Hotels and Resorts |            193 | Milwaukee   | WI      | Urban           | 1.95722  |        0.646635 |
| 42 | DoubleTree by Hilton Dallas - Campbell Centre | Doubletree by Hilton            |            300 | Dallas      | TX      | Interstate      | 0.953481 |        0.57935  |
| 56 | Embassy Suites Dallas Love Field              | Embassy Suites                  |            248 | Dallas      | TX      | Airport         | 0.896256 |        0.608419 |
+----+-----------------------------------------------+---------------------------------+----------------+-------------+---------+-----------------+----------+-----------------+
+-----+-------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
|     | property_name                             | flag_name                       |   num_of_rooms | city       | state   | location_type   |     spor |   profit_margin |
|-----+-------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------|
|  14 | Crowne Plaza Atlanta Perimeter at Ravinia | Crowne Plaza Hotels and Resorts |            495 | Atlanta    | GA      | Urban           | 1.50515  |        0.589848 |
|  62 | Embassy Suites San Diego La Jolla         | Embassy Suites                  |            450 | California | FL      | Suburban        | 0.632053 |        0.507904 |
|  80 | Hampton Inn & Suites Boone                | Hampton Inn and Suites          |            114 | Boone      | NC      | Interstate      | 1.30387  |        0.615872 |
| 139 | Hampton Inn Rapid City                    | Hampton Inn                     |             82 | Rapid City | SD      | Suburban        | 1.17924  |        0.601515 |
| 151 | Hilton Dallas Plano Granite Park          | Hilton                          |            299 | Plano      | TX      | Suburban        | 0.538739 |        0.646156 |
+-----+-------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
+----+--------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
|    | property_name                                    | flag_name                       |   num_of_rooms | city       | state   | location_type   |     spor |   profit_margin |
|----+--------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------|
|  4 | Best Western Plus Nashville Airport              | Best Western Plus               |             90 | Nashville  | TN      | Airport         | 0.709481 |        0.463298 |
|  7 | Candlewood Suites - Phoenix                      | Candlewood Suites               |             98 | Phoenix    | AZ      | Suburban        | 1.2845   |        0.401749 |
| 12 | Comfort Suites Nashville Airport                 | Comfort Suites                  |             96 | Nashville  | TN      | Airport         | 0.727175 |        0.538461 |
| 19 | Crowne Plaza Downtown Denver                     | Crowne Plaza Hotels and Resorts |            380 | Denver     | CO      | Urban           | 2.57752  |        0.619366 |
| 46 | DoubleTree by Hilton Hotel San Francisco Airport | Doubletree by Hilton            |            395 | Burlingame | CA      | Airport         | 0.425908 |        0.615255 |
+----+--------------------------------------------------+---------------------------------+----------------+------------+---------+-----------------+----------+-----------------+
+-----+------------------------------------+---------------------------------+----------------+--------------+---------+-----------------+----------+-----------------+
|     | property_name                      | flag_name                       |   num_of_rooms | city         | state   | location_type   |     spor |   profit_margin |
|-----+------------------------------------+---------------------------------+----------------+--------------+---------+-----------------+----------+-----------------|
|  20 | Crowne Plaza Dulles Airport        | Crowne Plaza Hotels and Resorts |            324 | Herndon      | VA      | Suburban        | 1.0151   |        0.690342 |

In [32]:
pd.options.display.max_rows = 100

In [37]:
df[df['cluster'] == 3][lst_columns].sort_values(by='flag_name')

,property_name,flag_name,num_of_rooms,city,state,location_type,spor,profit_margin
1,Avid Hotel Meridian,Avid,87,Oklahoma City,OK,Airport,0.564489,0.510323
41,DoubleTree Suites by Hilton Hotel Boston - Cam...,Doubletree by Hilton,308,Boston,MA,Urban,4.632502,0.708547
50,Doubletree by Hilton Hotel San Diego - Del Mar,Doubletree by Hilton,224,San Diego,CA,Interstate,0.879263,0.652463
109,Hampton Inn & Suites Trophy Club,Hampton Inn,94,Trophy Club,TX,Suburban,1.014780,0.680809
116,Hampton Inn Chicago West Loop,Hampton Inn,210,Chicago,IL,Urban,0.509387,0.640560
126,Hampton Inn Jupiter/Juno Beach,Hampton Inn,89,Juno Beach,FL,Suburban,1.807850,0.513333
220,Hilton Garden Inn Jackson Pearl,Hampton Inn,90,Pearl,MS,Interstate,1.207653,0.661644
82,Hampton Inn & Suites Columbia South,Hampton Inn and Suites,124,Columbia,MD,Suburban,1.846941,0.579426
88,Hampton Inn & Suites Hood River,Hampton Inn and Suites,88,Hood River,OR,Interstate,2.705626,0.549547
104,Hampton Inn & Suites Saskatoon Airport,Hampton Inn and Suites,137,Saskatoon,SK,Urban,0.279177,0.485520
121,Hampton Inn Harrisburg West,Hampton Inn and Suites,129,Mechanicsburg,PA,Urban,0.783618,0.651889
288,Hilton Garden Inn Sunnyvale,Hilton Garden Inn,238,Sunnyvale,CA,Suburban,0.833738,0.669550
286,Hilton Garden Inn Stony Brook,Hilton Garden Inn,135,Stony Brook,NY,Campus,3.652462,0.665579
275,Hilton Garden Inn Seattle Airport,Hilton Garden Inn,152,SeaTac,WA,Suburban,2.329497,0.690384
257,Hilton Garden Inn Philadelphia/Ft. Washington,Hilton Garden Inn,146,Fort Washington,PA,Interstate,0.519661,0.677277
243,Hilton Garden Inn Montgomery - EastChase,Hilton Garden Inn,112,Montgomery,AL,Urban,0.871293,0.583673
209,Hilton Garden Inn Gatlinburg,Hilton Garden Inn,118,Gatlinburg,TN,Suburban,1.419413,0.658826
177,Hilton Garden Inn Charlotte Uptown,Hilton Garden Inn,181,Charlotte,NC,Urban,0.695962,0.534770
162,Hilton Garden Inn Atlanta/Peachtree City,Hilton Garden Inn,93,Peachtree City,GA,Suburban,1.714016,0.580589
161,Hilton Garden Inn Atlanta South-McDonough,Hilton Garden Inn,105,McDonough,GA,Interstate,1.015724,0.624280
215,Hilton Garden Inn Houston NW Willowbrook,Hilton Garden Inn,171,Houston,TX,Suburban,0.846564,0.688590
311,Holiday Inn Express Pryor,Holiday Inn Express,79,Pryor,OK,Interstate,0.900976,0.681097
312,Holiday Inn Express San Francisco-Airport North,Holiday Inn Express,89,South San Francisco,CA,Airport,1.024066,0.451580
333,Home2 Suites by Hilton Minneapolis - Eden Prarie,Home2,102,Minnetonka,MN,Suburban,0.972618,0.604457
330,Home2 Suites by Hilton Lake Charles,Home2,87,Lake Charles,LA,Interstate,0.688284,0.535475
336,Home2 Suites by Hilton Plymouth Minneapolis,Home2,102,Plymouth,MN,Interstate,0.706741,0.602704
339,Homewood Suites Chicago West Loop,Homewood Suites,126,Chicago,IL,Urban,1.815259,0.637800
340,Homewood Suites Denver Downtown Convention Center,Homewood Suites,182,Denver,CO,Urban,0.987382,0.686740
361,Homewood Suites by Hilton Detroit-Troy,Homewood Suites,150,Troy,MI,Suburban,0.833753,0.624666
362,Homewood Suites by Hilton Ft.Lauderdale Airpor...,Homewood Suites,124,Dania Beach,FL,Suburban,1.550386,0.505605
363,Homewood Suites by Hilton Hillsboro/Beaverton,Homewood Suites,123,Beaverton,OR,Suburban,0.522025,0.683290
453,Tru by Hilton San Antonio Downtown,Tru by Hilton,94,San Antonio,TX,Urban,2.254309,0.578319
416,Tru by Hilton Deadwood,Tru by Hilton,108,Deadwood,SD,Suburban,1.392630,0.642707
465,Tru by Hilton Webster Houston NASA,Tru by Hilton,98,Webster,TX,Urban,0.454400,0.613830

In [34]:
df.groupby(by="flag_name")["property_code"].count()

flag_name
Aston                                1
Avid                                 3
Best Western Plus                    1
Candlewood Suites                    5
Comfort Suites                       2
Crowne Plaza Hotels and Resorts     25
Curio by Hilton                      3
Doubletree by Hilton                15
Embassy Suites                      18
Hampton Inn                         42
Hampton Inn and Suites              36
Hilton                               6
Hilton Garden Inn                  152
Hilton Suites                        1
Holiday Inn                          1
Holiday Inn Express                  4
Holiday Inn Express & Suites         3
Home2                               23
Homewood Suites                     38
Hotel Indigo                         1
Independent                          1
Intercontinental Hotels Group        1
La Quinta Inns and Suites            1
Liv Dev                              2
Quality Suites                       1
Red Lion Hotel                       1
Renaissance                          1
Staybridge Suites                    1
Tapestry Collection                  1
Tru by Hilton                       76
Name: property_code, dtype: int64

In [ ]:
# Save models if are satisfied with clusters

In [24]:
import pickle

with open('../web/data/kproto.pkl', 'wb') as handle:
    pickle.dump(kproto, handle, protocol=pickle.HIGHEST_PROTOCOL)
df.to_pickle('../web/data/model.pkl')